
* {
  box-sizing: border-box;
}

header {
  background-color:  #eaddb2;
  box-shadow: 5px 5px 5px grey;
  border-radius: 15px;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #eaddb2;
  border-radius: 25px;
  box-shadow: 5px 5px 5px grey;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 400px;
  max-width: 95%;
}

ul {
  list-style-type: none;
}

header, h1, h2, h4 {
  font-family: 'Bungee Inline', cursive;
}

a, .coffee-description, p {
  font-family: 'Comfortaa', cursive;
}

.sub-header {
  text-align: center;
}

.main-button {
  text-align: center;
}

.back-button, .button {
  margin: 15px;
  position: relative;
}

body {
  background-color: #f2f2f2;
}

.login-button {
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-bottom: auto;
}

.main-title-heading {
  width: 300px;
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-title-heading, .login-button {
  display: block;
  border-radius: 25px;
  position: relative;
  opacity: 50%;
}

.login-link, .logo-link {
  text-decoration: none;
  color: black;
}

.delete-button {
  text-align: center;
}

input[type=submit] {
    padding:5px 15px;
    background: #d1c49c;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Bungee Inline', cursive;
}

.block {
  display: inline-block;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: #2063bc;
}

#signInButton {
  margin: 15px;
}
