
* {
  box-sizing: border-box;
}

header {
  background-color:  #eaddb2;
  box-shadow: 5px 5px 5px grey;
  border-radius: 15px;
}

.content {
  margin-left: 10em;
  margin-right: 10em;
  background-color: #eaddb2;
  border-radius: 25px;
  box-shadow: 5px 5px 5px grey;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 75%;
}

ul {
  list-style-type: none;
}

header, h1, h2 {
  font-family: 'Bungee Inline', cursive;
}

a, .coffee-description {
  font-family: 'Comfortaa', cursive;
}

.sub-header {
  text-align: center;
}

.main-button {
  text-align: center;
}

.back-button {
  margin: 20px;
  position: relative;
}

body {
  background-color: #f2f2f2;
}

.login-button {
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-bottom: auto;
}

.main-title-heading {
  width: 300px;
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-title-heading, .login-button {
  display: block;
  border-radius: 25px;
  position: relative;
  opacity: 50%;
}

.login-link, .logo-link {
  text-decoration: none;
  color: black;
}
