{% extends "main.html" %}
{% block title %}Add a Coffee{% endblock %}

{% block content %}
<h1>Add a Coffee</h1>

<form action='{{ url_for('addCoffee') }}' method="POST">
  <h2>Origin:</h2>
  <select name="selected-origin">
    {% for origin in origins %}
    <<option value="{{origin.name}}">{{origin.name}}</option>
    {% endfor %}
  </select>
  <h2>Coffee Name:</h2>
  <input type="text" name="new-coffee" placeholder="Dry Process Los Angeles Bourbon" required/>
  <h2>Description:</h2>
  <textarea name="coffee-description" cols="50" rows="10" placeholder="Intense notes of fruit..." required></textarea>
  <br>
  <input type="submit" value="Add New Origin"/>
</form>
<a href="{{url_for('showHomePage')}}" class="back-button">back</a>
{% endblock %}
