{% extends "main.html" %}
{% block title %}Add Origin {% endblock %}

{% block content %}
<h1>Add a Coffee From {{ origin.name }}</h1>
<form action='{{ url_for('addCoffeeFrom', origin_id=origin.id) }}' method="post">
  <h2>Coffee Name:</h2>
  <input type="text" name="new-coffee" placeholder="Dry Process Los Angeles Bourbon" required/>
  <h2>Description:</h2>
  <textarea name="coffee-description" cols="50" rows="10" placeholder="Intense notes of fruit..." required></textarea>
  <br>
  <input type="submit" value="Add New Origin"/>
</form>
{% endblock %}
