<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>

    <header>
      <h1 class="main-title-heading">Coffee App</h1>
    </header>

    <section class="coffee-origin">
      <h2>Coffee Origin</h2>
      <a href=""><h3>Add Coffee Origin</h3></a>
      <ul>
        {% for origin in origins %}
        <li><a href="">{{ origin.name }}</a></li>
        {% endfor %}
      </ul>
    </section>

     <section class="coffee">
       <h2>Coffee</h2>
       <a href=""><h3>Add Coffee</h3></a>
       <ul>
         {% for coffee in coffees %}
         <li><a href="">{{ coffee.name }}</a></li>
         {% endfor %}
       </ul>
     </section>
  </body>
</html>
