{% extends "main.html" %}
{% block title %}{{ origin.name }}{% endblock %}

{% block content %}
<h2 class="sub-header">{{ origin.name }}</h2>
<ul>
  {% for coffee in coffees %}
  <li><h2>{{ coffee.name }}</h2></li>
    <p class="coffee-description">
      {{coffee.description}}
    </p>
  <a href="{{ url_for('editCoffee', coffee_id=coffee.id) }}">edit</a> | <a href="{{url_for('deleteCoffee', coffee_id=coffee.id)}}">delete</a>
  {% endfor %}
</ul>
<a href="{{ url_for('addCoffeeFrom', origin_id=origin.id) }}" class="main-button"><h3>Add a Coffee</h3></a>

<footer class="block">
    <a href="{{ url_for('showHomePage') }}" class="back-button">back</a>
    <a href="{{ url_for('deleteOrigin', origin_id=origin.id) }}" class="button">delete origin</a>
    <a href="{{ url_for('editOriginName', origin_id=origin.id) }}">edit origin name</a>
</footer>

{% endblock %}
